@model MvcCv.Models.Entity.TblAdmins
@{
    ViewBag.Title = "UpdateAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Admin Güncelleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Id")
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
    @Html.Label("Kullanıcı Adı")
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", required = "required" })
    @Html.ValidationMessageFor(x => x.UserName, "")
    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", required = "required" })
    @Html.ValidationMessageFor(x => x.Password, "")
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>


