@using MvcCv.Models.Entity
@model List<TblContacts>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2 style="text-align: center; font-weight: bold; color: #343a40;">Gelen Mesaj Listesi - Admin Paneli</h2>
<br />
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- /.col -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-pane" id="timeline">
                                <!-- The timeline -->
                                <div class="timeline timeline-inverse">
                                    @foreach (var z in Model)
                                    {
                                        <!-- timeline time label -->
                                        <div class="time-label">
                                            <span class="bg-info">
                                                @(((DateTime)z.Date).ToString("dd-MMM-yyyy"))
                                            </span>
                                        </div>
                                        <div>
                                            <i class="fas fa-comments bg-warning"></i>
                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-clock"></i> @z.Mail</span>
                                                <h3 class="timeline-header"><a href="#">@z.FullName</a> @z.Subject</h3>
                                                <div class="timeline-body">
                                                    @z.Message
                                                </div>
                                                <div class="timeline-footer">
                                                    <a href="/Contact/RemoveMessage/@z.Id" class="btn btn-danger btn-sm">Sil</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

