@using MvcCv.Models.Entity
@model List<TblSkills>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{ string renk = "";}

<br />
<h2 style="text-align: center; font-weight: bold; color: #343a40;">Yetenek/Beceri Listesi - Admin Paneli</h2>
<br />

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            
                            <!-- /.card-header -->
                            <div class="card-body">
                                <a href="/Skill/AddSkill" class="btn btn-info">Yetenek Ekle</a>
                                <br />
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">Id</th>
                                            <th>Yetenek</th>
                                            <th>Derece</th>
                                            <th style="width: 40px">Oran</th>
                                            <th>Düzenle</th>
                                            <th>Sil</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var x in Model)
                                        {
                                            if (x.Ratio >= 0 && x.Ratio <= 50)
                                            {
                                                renk = "progress bar bg-danger";
                                            }
                                            if (x.Ratio >= 51 && x.Ratio <= 70)
                                            {
                                                renk = "progress-bar bg-warning";
                                            }
                                            if (x.Ratio >= 71 && x.Ratio <= 84)
                                            {
                                                renk = "progress-bar  bg-primary";
                                            }
                                            if (x.Ratio >= 85 && x.Ratio <= 100)
                                            {
                                                renk = "progress-bar bg-success";
                                            }

                                            <tr>
                                                <td>@x.Id</td>
                                                <td>@x.Skills</td>
                                                <td>
                                                    <div class="progress progress-xs">
                                                        <div class="@renk" style="width: @x.Ratio%"></div>
                                                    </div>
                                                </td>
                                                <td><span class="@renk">@x.Ratio%</span></td>
                                                <td>
                                                    <a href="/Skill/UpdateSkill/@x.Id" class="btn btn-sm btn-outline-warning" title="Düzenle">
                                                        <i class="fa fa-edit"></i> Düzenle
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/Skill/RemoveSkill/@x.Id" class="btn btn-sm btn-outline-danger me-1" title="Sil">
                                                        <i class="fa fa-trash"></i> Sil
                                                    </a>
                                                </td>
                                                <td>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</body>
</html>
